# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.editorconfig
.project
.settings/
		
**/target/
**/target/
*.classpath
*.project
**/.settings/
**/logs/
**/bin/
**/data/
**/src/main/gen/

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
target/
.classpath
.project
.settings/
bin/
data/
logs/
coverage/
dist/
node_modules/
.cproject
Makefile_bk
Makefile_bk1
**/Debug/
**/objs/
**/outs/
**/test_header/
**/test_makefile/

